html{
    scroll-behavior: smooth;
}

#body{
    background-color: #FFF;
}


body{
    /*background-color: #99AAD2;*/
    background-image: url(../Images/thumbnail.png);
    background-repeat: no-repeat;
    background-size: cover 50%;
    background-attachment: fixed;
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:darken;
}
h2{
    margin-top: 1px;
    margin-left: 5px;
}

#toPageTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    padding: 0.7em;
    text-align: center;
    background: rgb(88, 88, 255);
    color: #fff;
    transition: 0.3s0;
    border-radius: 10px;
    font-size: 20px;
}

#toPageTop:hover {
    background: rgb(88, 88, 255, 0.8);
    color: rgb(160, 0, 240, 0.8);
}

#header{
    margin-top: -20px;
    margin-left:-7.5px;
    margin-right: -7.5px;
    background-color: #AAAADDDD;
    border-bottom: dotted 5px #5555FF99;
    height:10em;
}

#alert{
    text-align:center;
    margin-bottom: -10px;
}

#pagetitle{
    text-align: center;
    margin-top:20px;
    margin-bottom: 0px;
    font-family: Arial;
    font-size:3em;
}

#index{
    margin-left:20px;
    margin-bottom: -10px;
    background-color: #7777FF88;
    font-size: 20px;
    width: 55em;
    border-radius: 30px;
    border: dotted 5px #5555FF99;
}

#QAlist{
    margin-left:20px;
    font-size:20px;
}

#QAindex{
    margin-bottom: -10px;
    background-color: #7777FF88;
    width: 55em;
    border-radius: 30px;
    border: dotted 5px #5555FF99;
}

#QA{
    margin-bottom: -10px;
    background-color: #7777FF88;
    width: 55em;
    border-radius: 30px;
    border: dotted 5px #5555FF99;
}

#form{
    margin-left:20px;
    margin-bottom: -10px;
    background-color: #7777FF88;
    width: 55em;
    border-radius: 30px;
    border: dotted 5px #5555FF99;
    font-size:20px;
}

#formjoin{
    margin-left:20px;
    margin-bottom: -10px;
    background-color: #7777FF88;
    width: 55em;
    border-radius: 30px;
    border: dotted 5px #5555FF99;
    font-size:20px;
}

#pagefooter{
    margin-bottom: -20px;
    margin-left:-7.5px;
    margin-right: -7.5px;
    background-color: blue;
}

#datas{
    margin-left:10px;
    color:white;
}

.head{
    background-color: #5555FF;
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.index{
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    width:50em;
    border-radius: 7.5px;
}

.QAindex{
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    width:50em;
    border-radius: 7.5px;
}

.QA{
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    width:50em;
    border-radius: 7.5px;
}

.form{
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    width:50em;
    border-radius: 7.5px;
}

.whiteblock:hover{
    background-color: #9977DD;
    color:white;
}

.whiteblock:hover .linkwhite{
    color:white;
}

.datas{
    border-right: solid 1px white;
    border-length:medium;
}